@media (prefers-reduced-motion: no-preference) {
    .Röhre{
        animation: Röhre 2s ease-out forwards;
    }
    .Vogel{
        animation: Vogel-in 3s ease-out forwards;
    }
}

.Vogel{
    width: 2.5%;
    position: fixed;
    top: 10%;
    left: 20%;
}

.Röhre{
    width: 40%;
    position: fixed;
    top: 100%;
    left: 10%;
    transform: scaleX(-1);
}

@keyframes Röhre {
    from{
        left: 150%;
        top: 10%
    }

}

@keyframes Vogel-in {
    from{
        left: -20%;
    }
}

@keyframes Vogel-sprung {
    from{
        transform: rotate(-45deg);
    }
    to{
        transform: rotate(45deg);
    }
}
